.btn, button {
  // background-image: linear-gradient(-135deg, #AD6BFF 0%, #74BCF7 100%);
  background: #ED1C24;
  // border-radius: 40px;
  color: black;
  cursor: pointer;
  font-size: 1em;
  display: inline-block;
  margin: ($gutter / 2.5) 0;
  padding: ($gutter / 4) $gutter;
  outline: none;
  position: relative;
  transition: all 0.2s;
  color: white;
  font-weight: 700;
  &:hover{
    transform: translateY(-3px);
    box-shadow: 0 3px 0px rgba(0,0,0, .2);
  }
}
