.hero__header{
  min-height: 85vh;
  background-attachment: fixed;
  background-size: cover;
  &:before{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    background-image: linear-gradient(-135deg, #AD6BFF 0%, #74BCF7 100%);
    opacity: .3;
  }
}
.tagline{
  font-size: 2.625em;
  color: white;
  max-width: 17em;
  transform: translateY(-50%);
  left: $gutter * 4;
  line-height: 1.3em;
  z-index: 3;
}

.svg__header{
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  svg{
    position: absolute;
    bottom: 0;
    left: 0;
  }
  .st0{
    fill:#3DE3CF;
  }
  .rocket__line{
    fill:none;
    stroke: rgba(255,255,255,1);
    stroke-width:3;
    stroke-linecap:round;
    stroke-miterlimit:10;
  }
  .rocket__line{
    stroke-width:0;
  }
}


@media (min-width:320px) {
  .tagline{
    font-size: 1.625em;
    top: 50%;
    left: $gutter;
  }
}


@media (min-width:1024px) {
  .tagline{
    font-size: 2.625em;
    left: $gutter * 4;
    top: 40%;
  }
}
