.hero__header{
  min-height: 90vh;
  &:before{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    background-image: linear-gradient(-135deg, #AD6BFF 0%, #74BCF7 100%);
    opacity: .3;
  }
}
.tagline{
  font-size: 2.625em;
  color: white;
  max-width: 17em;
  top: 50%;
  transform: translateY(-50%);
  left: $gutter * 4;
  line-height: 1.3em;
}
