* { 
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body { font-family: sans-serif }
body { background: #222 }

.tags { background: #eee }

.panel { width: 28em }

.panel { max-width: 80% }

.panel .menu + div {
	margin: 4.5em 0 0;
}

.menu {
	background: #eee;
	width: inherit;
	position: fixed;
	border-bottom: 1px solid #ddd;
	padding: 0.625em 1em;
}

h1 { font-weight: normal }

.tags section { margin: 0.5em 0 }

.tags h1 { padding: 0 0.75rem }

.tags ul { padding: 0.5rem }

.tags h1 { color: gray }

.tags h1 { font-size: 87.5% }
.tags h1 { text-transform: uppercase }

.tag { 
	background: #ddd;
	margin: 0.25em;
	display: inline-block;
	padding: 0.5em 0.75em;
	height: 2.25em;
	cursor: pointer;
}

.tags section {
	padding: 1rem 0.5rem 0.5rem;
}

.tags li { display: inline }

li { list-style: none }

label input[type=checkbox] { display: none } 

.panel { overflow: hidden }

.menu input {
	background: white;
	height: 2.5rem;
	font-size: 1em;
	border: none;
	width: 100%;
	padding: 0.5em;
	border-radius: 0.325em;
	outline: 0;
}

.menu input:focus { background: #fff }

.fixed { position: fixed }

.fixed.panel { top: 1em }
.fixed.panel { bottom: 1em }
.fixed.primary.panel { left: 1em }

body { margin: 0 }
