/* html */
html { color: #eee }
html { background: #000 }

.content { color: #000 }

/* .menu */
.menu { color: #000 }

.menu { background: #fff }
.breadcrumb:after {
  background: linear-gradient(to right, hsla(0, 0%, 96%, 0), hsl(0, 0%, 96%))
}

nav.global { border-bottom: 1px solid #eee }
.secondary .menu { box-shadow: inset 0 -1px 0 0 rgba(192,192,192,0.4) }


/* .panel */
.panel.floating { background: transparent }
.panel { background: hsl(240, 20%, 15%) }
.panel .group h1 { border-color: hsla(240, 20%, 20%, 0.9)  }


/* .tags */
.tags { color: #fff }
.tags .group { background: hsl(240, 20%, 15%) }


/*. tag */
.tag svg { color: hsl(252, 32%, 20%) }
.search .tag.active svg { color: currentColor }
.tag.disabled svg { color: #fff }

.tag svg.shortcut { opacity: 0 }
.tag.focus svg.shortcut { opacity: 1 }
.tag.focus.active svg.shortcut { opacity: 0.5 }

.tag.focus svg.shortcut { color: #fff }

.tag .count { color: gray }
.tag.active .count,
.tag:hover .count { color: inherit }


.tag { background: hsl(240, 20%, 5%) }
.tag.active { background: hsl(252, 50%, 48%) }
.tag:hover { background: hsl(252, 50%, 50%) }
.tag.active:hover { background: #FF4C3F }
.tag.active:hover svg { color: #fff }
.tag.disabled { background: transparent }

.tag.active:before { color: hsl(240, 20%, 15%) }

/* .button */

.primary.button {
  background: linear-gradient(135deg, hsl(265, 70%, 66%), hsl(208, 70%, 66%))
}

.primary.button:hover {
  background: linear-gradient(135deg, hsl(265, 66%, 60%), hsl(208, 75%, 66%)) 
}

/* input */
input { background: #fff }

input { box-shadow: inset 0 0 0 1px hsla(0, 0%, 25%, 0.25) }
input:focus { box-shadow: inset 0 0 0 1px hsla(240, 20%, 20%, 0.5) }


/* .icon */

.icon { color: #666 }
.icon:hover { color: inherit }
.icon:disabled { color: transparent }

/* svg */
svg { stroke: currentColor }


/* Dataset */
.footercontainer{
  background: #F5F5F6;
}
